footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer button {
    flex-grow: 1;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
body{
    background-color: lightgreen;
}
button {
    border: none;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 0;
}
button:hover {
    background-color: #ddd;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
}
#contentFrame{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}
th{
    width: 20%;
}
thead{
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.highreading{
    color: red;
    font-weight: bold;
}
.warning{
    color: red;
    font-weight: bold;
}
.read{
    opacity: 0.5;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cancel{
    background-color: lightcoral;
    color: white;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label{
    font-weight: bold;
    font-size: 30px;
}
form input, select{
    width: 30%;
    padding: 10px;
    height: 60px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30px;
}
button[type="submit"]{
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.microform{
    background-color: limegreen;
    padding: 5px;
    margin: 5px;
}
.subpanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: auto;
    width: 100%;
}
ul{
    width: 490px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
p{
    margin: 5px;
}
body{
    margin: 0;
}
.sortable{
    cursor: pointer;
    background-image: url('/app/src/sort_both.svg'); /* todo */
    background-repeat: no-repeat;
    background-position: right center;
}

.sortable.sortup{
    background-image: url('/app/src/sort_up.svg'); /* todo */
}
.sortable.sortdown{
    background-image: url('/app/src/sort_down.svg'); /* todo */
}