footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
button {
    flex-grow: 1;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
body{
    background-color: lightgreen;
}
button {
    border: none;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #ddd;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
th{
    width: 20%;
}
thead{
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.highreading{
    color: red;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cancel{
    background-color: lightcoral;
    color: white;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
}
label{
    font-weight: bold;
    font-size: 30px;
}
input{
    width: 30%;
    padding: 10px;
    height: 60px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30px;
}
button[type="submit"]{
    border: none;
    font-size: 30px;
    cursor: pointer;
}